@font-face {
    font-family: LexingtonC;
    src: url(../fonts/LexingtonC/LexingtonC.ttf);
}
@font-face {
    font-family: ShantellSans-Medium;
    src: url(../fonts/ShantellSans/ShantellSans-Medium.ttf);
}