@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(41, 148, 99, .75) #444;
}

/* Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: .8rem;
    height: auto;
}

*::-webkit-scrollbar-track {
    background: var(--colorBgLighter);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--colorBgLight);
    border-radius: 4px;
    border: 1px solid var(--colorAccent);
}
  
:root{
    --colorAccent: whitesmoke;
    --colorAccent2: yellow;
    /* --colorBgAccent: dodgerblue; */
    --colorBgAccent: rgba(30, 143, 255, .7);
    --colorBgAccent2: rgba(102, 65, 45, .7);
    --colorShadow: dimgrey;
    --colorBgLight: tan; 
    --colorBgLighter: bisque;
    --widthAside: 180px;
    --minMainWidth: 600px;
    --fontName: 'LexingtonC';
    --fontSite: 'ShantellSans-Medium';
}
body{
    position: relative;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: var(--fontSite), sans-serif;
    background: no-repeat top url(../images/oblaka.jpg);
    background-size: cover;
}
.button{
    cursor: pointer;
    text-align: center;
    font-family: var(--fontSite), sans-serif;
    height: 2rem;
    padding: 0 .5rem;
    border-radius: 3px;
    border:none;
    color: var(--colorAccent);
    text-shadow: 0 0 3px var(--colorShadow);
    background: var(--colorBgLight);
}
.button:hover{
    color: var(--colorAccent2);
}
